# Exam2

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [52]:
def lesser_of_two_evens(a,b):
    
            if b % a==0:
                print(a)
            else:
                print(b)

In [53]:
# Check
lesser_of_two_evens(2,4)

2

In [54]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [79]:
def animal_crackers(text):
    for x in text.split():
        if text[0][0]==text[1][0]:
            print(' true')
        else:    
            print( "false ")

In [80]:
# Check
animal_crackers('Levelheaded Llama')

false
false

In [81]:
# Check
animal_crackers('Crazy Kangaroo')

false
false

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [86]:
def makes_twenty(n1,n2):
    s=n1+n2
    if s==20 or n1==20 or n2==20:
        print("true")
    else:
        print("false")

In [87]:
# Check
makes_twenty(20,10)

true

In [88]:
# Check
makes_twenty(2,3)

false

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [233]:
def old_macdonald(name):
    mylist= list(name)
    mylist[0] = mylist[0].upper()
    mylist[3] = mylist[3].upper()
    
    return mylist

In [234]:
# Check
old_macdonald('macdonald')

['M', 'a', 'c', 'D', 'o', 'n', 'a', 'l', 'd']

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [236]:
def almost_there(n):
        return n in range(90,111) or n in range(190,211)

In [237]:
# Check
almost_there(104)

True

In [238]:
# Check
almost_there(150)

False

In [239]:
# Check
almost_there(209)

True

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [133]:
def has_33(nums):
    for x in range(len(nums)-1):
        if nums[x]==nums[x+1]:
            print("true")
        else:   
            print("false")

In [134]:
# Check
has_33([1, 3, 3])

false
true

In [135]:
# Check
has_33([1, 3, 1, 3])

false
false
false

In [136]:
# Check
has_33([3, 1, 3])

false
false

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [137]:
def paper_doll(text):
    r=""
    for x in text:
        r+=x*3
      
    return r

In [138]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [139]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [142]:
def blackjack(a,b,c):
     if a+b+c <=21:
        return a+b+c
     elif a+b+c >21:
        if (a or b or c) == 11:
            return (a+b+c-10)
        elif (a and b and c)!= 11:
            return 'bust'

In [143]:
# Check
blackjack(5,6,7)

18

In [144]:
# Check
blackjack(9,9,9)

'bust'

In [147]:
# Check
blackjack(9,9,11)

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [181]:
def summer_69(arr):
    if 6 and 9 in arr:
        x=sum(arr[arr.index(6):arr.index(9)+1] ) 
        return sum(arr)-x
    else:
        return sum(arr)

In [182]:
# Check
summer_69([1, 3, 5])

9

In [183]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [184]:
# Check
summer_69([2, 1, 6, 9, 11])

14

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [218]:
def spy_game(nums):
    ch1 = False
    ch2 = False
    for n in nums:
        if (n==0 and ch1 is True):
            ch2 = True
            continue
        elif (n==0):
            c1 = True
            continue
        elif (n==7 and ch2 is True):
            return True
        
    return False

In [219]:
# Check
spy_game([1,2,4,0,0,7,5])

False

In [220]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [221]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [226]:
def count_primes(num):
    counte = 0
    for x in range(2,num+1):
        b=True
        for i in range(2,x):
            if(x%i == 0):
                b=False
                break
        if b:
            counte =counte+ 1
    return counte

In [227]:
# Check
count_primes(100)

25

## Great Job!